extends ./layout.jade

block content
  .row
    .col-sm-12
      h1
        span VirEYE&nbsp;
        small is a bio research network
  .row
    .col-sm-12.col-md-6
      form(action="/changename", method="POST").well
        h3 Pick your username
        p We don't show your e-mail address, so you need to pick a username:
        input(type="hidden", name="_csrf", value=csrfToken)
        input.form-control.x-large(type="text", name="newname", placeholder=forUser.name, value="")
        br
        button.btn.btn-primary Set Name
      
