doctype
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
    title VirEYE
    link(rel="stylesheet", type="text/css", href="/lib/bootstrap.min.css")
    link(rel="stylesheet", type="text/css", href="/vireye.css")
  body
    .navbar.navbar-fixed-top
      .container
        h2
          span VirEYE&nbsp;
          small is a bio research network
          a.btn.btn-primary.pull-right(href="/profile") Log In
    .container.main
      .row
        .col-sm-12.col-md-6
          h3 Publish one album
        .col-sm-12.col-md-6
          h3 Stick to it
      .row
        .col-sm-12
          hr
          h4 VirEYE's code is free and open source
          p That means coders can add on to it, or make their own apps. And anyone can code, so that new app might be yours!
          p
            span Check out our&nbsp;
            a(href="https://github.com/mapmeld/vireye") GitHub project page
            span .
